<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Email</title>
</head>
<body>
    <p>apiUrl: <%= apiUrl %></p>
    <p>emailserver: <%= emailserver %></p>
    <p>emailto: <%= emailto %></p>
    <p>password: <%= password %></p>
    <input type="file" id="file" />
    <button onclick="submit()">call api</button>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">
        function submit () {
            let formData = new FormData();

            const values = {
                title: '1',
                name: '2',
                mobile: '3',
                email: '4',
                role: '5',
            }
            const files = {
                resume: null,
                coverLetter: null,
            }

            formData.append('data', JSON.stringify(values));
            formData.append('files', document.getElementById('file').files[0]);
            /*
            fetch('http://localhost:8080/api/send-attachment', {
                method: 'POST',
                body: formData,
                headers: {
                'Content-Type': 'multipart/form-data; boundary=???',
                Accept: 'multipart/form-data; boundary=???',
                },
            });
            */
           $.ajax({
                //url: '<%= apiUrl %>send-attachment',
                url: 'http://localhost:8080/send-attachment',
                type: 'POST',
                datatype: 'json',
                processData: false,
                contentType: false,
                data: formData,
                success: (response) => {
                    console.log(response)
                },
                error: (error) => {
                    console.log(error)
                }
           })
        }
    </script>
</body>
</html>